<div class="container">
  <div class="header">
    <div class="nav">
      <div class="title">
        <h3>ToDo List</h3>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="">Tasks</a>
          </li>
          <li><a href="">Add</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="card">
      <div class="head">
        <span>delete</span>
        <span>edit</span>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          veniam praesentium eum, quisquam iusto quo sequi non porro, aspernatur
          nesciunt deserunt esse blanditiis optio sint labore accusamus itaque
          cumque. Ratione.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="head">
        <span>delete</span>
        <span>edit</span>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          veniam praesentium eum, quisquam iusto quo sequi non porro, aspernatur
          nesciunt deserunt esse blanditiis optio sint labore accusamus itaque
          cumque. Ratione.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="head">
        <span>delete</span>
        <span>edit</span>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          veniam praesentium eum, quisquam iusto quo sequi non porro, aspernatur
          nesciunt deserunt esse blanditiis optio sint labore accusamus itaque
          cumque. Ratione.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="head">
        <span>delete</span>
        <span>edit</span>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          veniam praesentium eum, quisquam iusto quo sequi non porro, aspernatur
          nesciunt deserunt esse blanditiis optio sint labore accusamus itaque
          cumque. Ratione.
        </p>
      </div>
    </div>
  </div>
</div>
